<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>UNITS IN STOCK</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pr of products">
            <td>
                <img src="{{pr.imageUrl}}" height="50rem"/>
            </td>
            <td>{{pr.name}}</td>
            <td>{{pr.unitPrice | currency:'USD'}}</td>
            <td>{{pr.unitsInStock}}</td>
        </tr>

    </tbody>
</table>











 